<table class="table">
  <thead >
    <tr>
      <th>Año</th>
      <th>Identificacion Alumno</th>
      <th>Nombre Alumno</th>
      <th>Codigo Materia</th>
      <th>Nombre Materia</th>
      <th>Identificacion Profesor</th>
      <th>Nombre Profesor</th>
      <th>Calificacion Final </th>
      <th>Aprobo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{row.ano}}</td>
      <td>{{row.identificacionAlumno}}</td>
      <td>{{row.nombreAlumno}}</td>
      <td>{{row.codigoMateria}}</td>
      <td>{{row.nombreMateria}}</td>
      <td>{{row.identificacionProfesor}}</td>
      <td>{{row.nombreProfesor}}</td>
      <td>{{row.calificacionfinal}}</td>
      <td [ngSwitch]="row.aprobo" >
        <span *ngSwitchCase="'SI'" class="badge badge-success">{{row.aprobo}}</span>
        <span *ngSwitchCase="'NO'" class="badge badge-danger">{{row.aprobo}}</span>
      </td>

    </tr>
  </tbody>
</table>
